@import "fonts.scss";
@import "bootstrap";
@import "bootstrap/theme";

.navbar-brand {
  font-family: 'Yeezy';
  font-weight: bolder;
  font-size: 30px;
}

.navbar-nav {
  font-family: 'Yeezy';
  font-weight: bolder;
    font-size: 18px;
}

h1 {
    font-family: 'Yeezy';
}

p {
  font-size: 16px;
}
.aniPage {
  position:absolute;
}

.icon-m-right {
  margin-right: 2rem;
}

.icon-m-adjust {

  @media(min-width:768px){
  margin-right: 30px; }
}

.social-icon {

 color: black;
 &:hover{

   color: grey;
 }
}
.icon-bar {

  @media(max-width:767px){
  text-align: center;}
}

.text-block {
  padding-top: 50px;
  margin-right: 5px;
}

.accordion-heading {
  font-family: 'Yeezy';
  padding: 8px;
  a {
    color:black;
    font-size: 20px;
  }
}

.accordion-group {
  margin-bottom: 5px;
  background-color:#d3d3d3;
}

.accordion-inner {
  padding: 8px;
}

.top-spacer {
  padding-top: 30px;
}
@keyframes fadeIn {
 0% {
   opacity: 0;
 }
 100%{
   opacity: 1;
 }

}

@keyframes fadeOut {
 0% {
   opacity: 1;
 }
 100%{
   opacity: 0;
 }

}

    .ng-enter           { animation: fadeIn 0.5s both ease-in; z-index: 8888; }
    .ng-leave           { animation: fadeOut 0.5s both ease-out; z-index: 9999; }
