
<h1>About</h1>

<div class="text-block">
<p>After graduating University in 2016 from Sussex University, I knew I wanted to make websites.</p>

<p>UI development combined my love of coding, curiosity of "what's behind" the technology, and satisfaction gained from delivering the client a usable, solid end product.</p>

<p>I'm looking to gain experience and further my career while providing a great resource to my next employer. </p>

<div class="accordion top-spacer" id="accordion">
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseOne">
          <i class="fa fa-code" aria-hidden="true"></i> Skills
         </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
         <div class="accordion-inner">
          <p>Anim pariatur cliche...</p>
         </div>
      </div>
   </div>
   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapseTwo">
           <i class="fa fa-graduation-cap" aria-hidden="true"></i>
Qualifications
         </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
         <div class="accordion-inner">
            <p>Anim pariatur cliche...</p>
         </div>
      </div>
   </div>
</div>


</div>
