<h1>Welcome</h1>

<div class="text-block">
<p> I'm a junior front end developer with a great passion for creating webpages with the best user experience possible.</p>

<p> Here you will find information about myself, my skills, and some examples of my past work. If you like what you see, make sure to get in touch by the means found on the contact tab.</p>

<p>Enjoy!</p>
</div>
